[package]
name = "forwarder-interact"
version = "0.0.0"
authors = ["you"]
edition = "2024"
publish = false

[[bin]]
name = "forwarder-interact"
path = "src/interactor_main.rs"

[lib]
path = "src/interact.rs"

[dependencies.forwarder]
path = "../forwarder"

[dependencies.dharitri-sc-snippets]
version = "2.0.0"
path = "../../../../framework/snippets"

[dependencies.dharitri-sc]
version = "2.0.0"
path = "../../../../framework/base"

[dependencies]
clap = { version = "4.4.7", features = ["derive"] }
serde = { version = "1.0", features = ["derive"] }
toml = "0.9"

[features]
chain-simulator-tests = []
