[package]
name = "basic-interactor"
version = "0.0.0"
authors = ["DharitrI <contact@dharitri.org>"]
edition = "2024"
publish = false

[[bin]]
name = "basic-interactor"
path = "src/basic_interactor_main.rs"

[lib]
path = "src/basic_interactor.rs"

[dependencies.adder]
path = ".."

[dependencies.dharitri-sc-snippets]
version = "2.0.0"
path = "../../../../framework/snippets"

[dependencies]
clap = { version = "4.4.7", features = ["derive"] }
serde = { version = "1.0", features = ["derive"] }
toml = "0.9"
tokio = { version = "1.24" }
serial_test = { version = "3.2.0" }

[features]
chain-simulator-tests = []
