[package]
name = "gas_tests"
version = "0.0.0"
edition = "2024"
publish = false

[lib]
path = "src/gas_tests.rs"

[dependencies.dharitri-sc]
version = "2.0.0"
path = "../../../framework/base"

[dev-dependencies.dharitri-sc-scenario]
version = "2.0.0"
path = "../../../framework/scenario"

[dependencies.dharitri-chain-vm-wasmer-prod]
path = "../../../chain/wasmer-prod"
optional = true

[features]
wasmer-prod = ["dharitri-chain-vm-wasmer-prod"]
wasmer-experimental = ["dharitri-sc-scenario/wasmer-experimental"]

[workspace]
members = ["."]
