[package]
name = "multisig-interact"
version = "0.0.0"
authors = ["Dharitri <contact@dharitri.org>"]
edition = "2024"
publish = false

[[bin]]
name = "multisig-interact"
path = "src/multisig_interact.rs"

[dependencies]
clap = { version = "4.4.7", features = ["derive"] }
serde = { version = "1.0", features = ["derive"] }
toml = "0.9"
tokio = { version = "1.24" }

[dependencies.multisig]
path = ".."

[dependencies.dharitri-sc-modules]
version = "2.0.0"
path = "../../../../contracts/modules"

[dependencies.dharitri-sc-snippets]
version = "2.0.0"
path = "../../../../framework/snippets"

[dependencies.dharitri-sc-scenario]
version = "=2.0.0"
path = "../../../../framework/scenario"

[dependencies.dharitri-sc]
version = "=2.0.0"
path = "../../../../framework/base"
