name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  checks: write
  pull-requests: write

jobs:
  contracts:
    name: Contracts
    uses: ./.github/workflows/contracts.yml
    with:
      rust-toolchain: nightly-2022-10-12
      vmtools-version: v1.4.60
      extra-build-args: --ignore-eei-checks
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
