name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  checks: write
  pull-requests: write

jobs:
  contracts:
    name: Contracts
    uses: TerraDharitri/drt-sc-actions/.github/workflows/contracts.yml@v1.2.6
    with:
      rust-toolchain: nightly-2022-10-12
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
